:root{
    --primary-color: #041186;
    --secondary-color: #ff993b;
    --dark-color: rgb(64, 7, 129);
    --white-color: #e7e7e7;
    --green-color: rgb(23, 223, 23);
}
body{
    color:var(--dark-color)
}

nav{
    background-color: var(--dark-color);
}

footer{
    background-color: var(--dark-color);
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

footer {
    padding: 1rem;
}

footer .social>a {
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover{
    color: var(--green-color);
    opacity: 0.9;
}
main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bsicon{
    color: rgba(151, 19, 151, 0.952);
}

.jsicon{
    color: rgb(236, 221, 13);
}

.htmlicon{
    color: rgb(221, 70, 15);
}

.cssicon{
    color: rgb(53, 53, 180);
}
.checklist >li i{
    color: var(--green-color);
}

